{% extends 'base.html.twig' %}
{% block body %}
    <h1>Award Events</h1>
    <p><a href="{{ path('admin_create_award_event') }}" class="btn btn-primary">Add new award event</a></p>
    <table class="table table-striped">
        <tr>
            <th>Award</th>
            <th>Venue</th>
            <th>Venue address</th>
            <th>Start date</th>
            <th>End date</th>
            <th></th>
        </tr>
        {% for awardEvent in awardEvents %}
        <tr>
            <td>{{ awardEvent.name }}</td>
            <td>{{ awardEvent.venue.name }}</td>
            <td>{{ awardEvent.venue.address }}, {{ awardEvent.venue.town}}, {{ awardEvent.venue.postCode}}. {{ awardEvent.venue.country}}</td>
            <td>{{ awardEvent.startDate | date }}</td>
            <td>{{ awardEvent.endDate | date }}</td>
            <td><a class="btn btn-primary" href="{{ path('admin_edit_award_event', { id: awardEvent.id}) }}">edit</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}