{% extends 'base.html.twig' %}
{% block body %}
    <h1>Awards</h1>
    <p><a href="{{ path('admin_create_award') }}" class="btn btn-primary">Add new award</a></p>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th></th>
        </tr>
        {% for award in awards %}
        <tr>
            <td>{{ award.name }}</td>
            <td>{{ award.created | date }} </td>
            <td><a href="{{ path('admin_edit_award', { id: award.id }) }}" class="btn btn-primary">edit</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}