{% extends 'base.html.twig' %}
{% block body %}
    <h1>Award Categories</h1>
    <p><a href="{{ path('admin_create_award_category') }}" class="btn btn-primary">Add new award category</a></p>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th></th>
        </tr>
        {% for awardCategory in awardCategories %}
        <tr>
            <td>{{ awardCategory.name }}</td>
            <td>{{ awardCategory.created | date }}</td>
            <td><a href="{{ path('admin_edit_award_category', { id: awardCategory.id }) }}" class="btn btn-primary">edit</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}