<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
        <ul class="nav nav-tabs mt-2">
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') in ["admin_awards_list", "admin_create_award", "admin_edit_award"] %}active{% endif %}" href="{{ path('admin_awards_list') }}">Awards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') in ["admin_award_categories_list", "admin_create_award_category", "admin_edit_award_category"] %}active{% endif %}"" href="{{ path('admin_award_categories_list') }}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') in ["admin_award_events_list", "admin_create_award_event", "admin_edit_award_event"] %}active{% endif %}" href="{{ path('admin_award_events_list') }}">Events</a>
            </li>
        </ul>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
            <p class="flash-{{ label }} alert alert-{{ label }}">
                {{ message }}
            </p>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
